.Service-wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
p , a , span , h3 , h2 , h1{
    font-family:'Times New Roman', Times, serif;
    color: #212529;
}
.our-service h1{
    font-size: 70px;
}
.our-service span{
    display: block;
    color: #ffffff66;
    font-size: 24px;
}
.our-service a , .our-service li{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.our-service a:hover{
  text-decoration: underline;
  color: #e8bd81dc;
}
.our-service .banner-section{
    height: 300px;
    background-color: #212529;
}
.our-service .card a{
    background-color: transparent;
    border: 1px solid #fff;
    color: #212529;
}
.our-service .card:hover a{
    border: 1px solid #e8bd81dc;
    color: #e8bd81dc;
}
.our-service .card a:hover{
    background-color: #e8bd81dc;
    color: #fff !important;
}
.our-service .card:hover{
    border: 1px solid #e8bd81dc;
}
.our-service .form-button{
    background-color: #e8bd81dc;
    border: 1px solid #e8bd81dc;
}
.our-service .form-button:hover{
    background-color: transparent;
    border: 1px solid #e8bd81dc;
    color: #e8bd81dc;
}
.our-service .form-control{
    border: 1px solid #e8bd81dc;
    border-radius: 0px;
    color: #e8bd81dc;
}
.our-service .form-control input{
    color: #e8bd81dc;
}
.our-service .form-control:focus{
    box-shadow: none;
    border: 1px solid #e8bd81dc;
    color: #e8bd81dc;
}